@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-day-picker/dist/style.css';

@layer base {
    /*h1 {
    @apply text-brand-blue;
  }*/
    ul {
        list-style: disc;
    }

    li {
        margin-left: 2rem;
    }
}

/* Animated underline for telephone and email links */
@layer components {
    a[href^='tel:'],
    a[href^='mailto:'] {
        @apply relative text-inherit;
        @apply after:absolute after:bg-current after:bottom-0 after:left-0 after:h-[1px] after:w-0;
        @apply after:transition-all after:duration-300 hover:after:w-full;
    }

    a {
        @apply no-underline text-inherit;
        text-decoration: none !important;
    }

    .animatedUnderline {
        @apply relative text-inherit;
        @apply after:absolute after:bg-current after:bottom-0 after:left-0 after:h-[1px] after:w-0;
        @apply after:transition-all after:duration-300 hover:after:w-full;
    }
}

@keyframes glowPulse {
    0% {
        filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.5))
            drop-shadow(0 0 5px rgba(255, 255, 255, 0.3));
    }
    50% {
        filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8))
            drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    }
    100% {
        filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.5))
            drop-shadow(0 0 5px rgba(255, 255, 255, 0.3));
    }
}

@keyframes opacityPulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.arrow-animation {
    animation:
        glowPulse 4s infinite ease-in-out,
        opacityPulse 4s infinite ease-in-out;
}

:root {
    --brand-blue: '#14274A';
    --brand-white: '#FFFFFF';
    --brand-orange: '#E0B973';
    --brand-orange-dark: '#D6A347';
    /* --brand-grey: 'a1a1a1'; */
}

.rdp-root {
    --brand-blue: #14274a;
    --brand-orange: #e0b973;
    --rdp-accent-color: #14274a; /* The accent color used for selected days and UI elements. */
    --rdp-accent-background-color: var(
        --brand-orange
    ); /* The accent background color used for selected days and UI elements. */

    --rdp-day-height: 44px; /* The height of the day cells. */
    --rdp-day-width: 44px; /* The width of the day cells. */

    --rdp-day_button-border-radius: 100%; /* The border radius of the day cells. */
    --rdp-day_button-border: 2px solid transparent; /* The border of the day cells. */
    --rdp-day_button-height: 42px; /* The height of the day cells. */
    --rdp-day_button-width: 42px; /* The width of the day cells. */

    --rdp-selected-border: 2px solid var(--rdp-accent-color); /* The border of the selected days. */
    --rdp-disabled-opacity: 0.5; /* The opacity of the disabled days. */
    --rdp-outside-opacity: 0.75; /* The opacity of the days outside the current month. */
    --rdp-today-color: var(--rdp-accent-color); /* The color of the today's date. */

    --rdp-dropdown-gap: 0.5rem; /* The gap between the dropdowns used in the month captons. */

    --rdp-months-gap: 2rem; /* The gap between the months in the multi-month view. */

    --rdp-nav_button-disabled-opacity: 0.5; /* The opacity of the disabled navigation buttons. */
    --rdp-nav_button-height: 2.25rem; /* The height of the navigation buttons. */
    --rdp-nav_button-width: 2.25rem; /* The width of the navigation buttons. */
    --rdp-nav-height: 2.75rem; /* The height of the navigation bar. */

    --rdp-range_middle-background-color: var(
        --rdp-accent-background-color
    ); /* The color of the background for days in the middle of a range. */
    --rdp-range_middle-color: inherit; /* The color of the range text. */

    --rdp-range_start-color: var(--brand-blue); /* The color of the range text. */
    --rdp-range_start-background: linear-gradient(
        var(--rdp-gradient-direction),
        transparent 50%,
        var(--rdp-range_middle-background-color) 50%
    ); /* Used for the background of the start of the selected range. */
    --rdp-range_start-date-background-color: var(
        --rdp-accent-color
    ); /* The background color of the date when at the start of the selected range. */

    --rdp-range_end-background: linear-gradient(
        var(--rdp-gradient-direction),
        var(--rdp-range_middle-background-color) 50%,
        transparent 50%
    ); /* Used for the background of the end of the selected range. */
    --rdp-range_end-color: var(--brand-blue); /* The color of the range text. */
    --rdp-range_end-date-background-color: var(
        --rdp-accent-color
    ); /* The background color of the date when at the end of the selected range. */

    --rdp-week_number-border-radius: 100%; /* The border radius of the week number. */
    --rdp-week_number-border: 2px solid transparent; /* The border of the week number. */

    --rdp-week_number-height: var(--rdp-day-height); /* The height of the week number cells. */
    --rdp-week_number-opacity: 0.75; /* The opacity of the week number. */
    --rdp-week_number-width: var(--rdp-day-width); /* The width of the week number cells. */
    --rdp-weeknumber-text-align: center; /* The text alignment of the weekday cells. */

    --rdp-weekday-opacity: 0.75; /* The opacity of the weekday. */
    --rdp-weekday-padding: 0.5rem 0rem; /* The padding of the weekday. */
    --rdp-weekday-text-align: center; /* The text alignment of the weekday cells. */

    --rdp-gradient-direction: 90deg;

    --rdp-animation_duration: 0.3s;
    --rdp-animation_timing: cubic-bezier(0.4, 0, 0.2, 1);
}
